.password-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#password-requirements {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid rgba(255, 100, 100, 0.5);
  background-color: rgb(40, 44, 52);
  margin-bottom: -2px;
  bottom: 100%;
  width: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: scale 500ms, transform 100ms;
  z-index: 100;
}

#password-requirements p {
  font-size: 15px;
  background-color: rgba(255, 0, 0, 0.3);
  color: rgb(202, 202, 202);
  margin: 0;
  border-bottom: 1px solid rgba(255, 100, 100, 0.5);
  padding: 4px 4px;
  transition: background-color 500ms;
}