body {
  background-color: rgb(60, 57, 65);
  margin: 0;
}

* {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

code {
  background-color: rgb(30, 31, 34);
  padding: 3px 5px 4px 5px;
  border-radius: 3px;
}

a {
  color: rgb(0, 174, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.root {
  display: flex;
  padding-left: 250px;
}

*:disabled {
  opacity: .4 !important;
  cursor: not-allowed !important;
}

.button-with-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(54, 54, 54);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 75, 75);
}

.loader {
  position: absolute;
  display: none;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid rgb(146, 146, 146);
  border-right-color: white;
  animation: l2 .3s infinite linear;
  transition: opacity .2s;
  z-index: 1000;
  pointer-events: none;
}
@keyframes l2 {to{transform: rotate(1turn)}}