.root {
  display: flex;
  flex-direction: column;
}

.appointments-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: oklab(0.361088 -0.000220731 -0.00934622);
  border-radius: 5px;
  width: 80%;
  margin: 90px auto 10px auto;
  flex-grow: 1;
}

.container-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  height: 80px;
  background-color: oklab(0.301088 -0.000220731 -0.00934622);
  border-bottom: solid 2px rgb(114, 114, 114);
}

@media (min-width: 721px) {
  .appointments-wrapper {
    min-height: 500px;
  }
}

@media (max-width: 950px) {
  .appointments-wrapper {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .appointments-wrapper {
    width: 95%;
  }
}

@media (max-width: 720px) {
  .appointments-wrapper {
    width: 100%;
    position: absolute;
    inset: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 70px;
  }
  
  button {
    -webkit-tap-highlight-color: transparent;
  }
  
  .container-tools {
    z-index: 100;
    position: fixed;
    height: 70px;
    inset: auto 0 0 0;
    border: none;
  }
}

#appointment-count {
  background-color: rgba(0, 0 , 0, .1);
  padding: 7px 10px;
  border-radius: 6px;
  color: white;
}

.right-tools {
  display: flex;
  gap: 20px;
}

#new-appointment-button {
  user-select: none;
  border: none;
  box-shadow: 0 0 5px rgba(75, 167, 75, 0.3);
  color: white;
  padding: 12px 20px;
  outline: none;
  border-radius: 400px;
  background-color: rgb(26, 124, 26);
  cursor: pointer;
  transition:
    background-color 0.1s;
}

#new-appointment-button:hover {
  background-color: rgb(20, 102, 20);
}

#new-appointment-button:active {
  background-color: rgb(57, 107, 57);
}

.items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 8px;
  padding: 8px;
  flex-grow: 1;
}

.empty-image {
  width: 100%;
  max-width: 160px;
  user-select: none;
}

@media (max-width: 720px) {
  .empty-image {
    max-width: 140px;
  }
}

.empty-image img {
  width: 100%;
  filter: grayscale(100%);
  opacity: .2;
  transition: filter 1s;
}

.empty-image:hover img {
  filter: grayscale(50%);
}

.modal-submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader Icon */
.loader-icon {
  position: absolute;
  width:  20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  opacity: 0;
  transition: opacity 300ms;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}